body{
    margin: 0;
}

img{
    width: 60%;
    padding: 5%;
}
h2{
    /* color:#62FFE2; */
    margin: 0;
}
ul{
    list-style: none;
}

a{
    color: black;
    
}
a:hover{
    color:#EF51FE;
    text-decoration: none;
}
#link-pink:hover{
    color:#EF51FE;
}


#home {
    font-family: 'Signika Negative', sans-serif;
    color: #223322;
    height: 80vh;
}
#home2{
    font-family: 'Signika Negative', sans-serif;
    color: #223322;
} 
#aboutme{
    
    height: 90vh;
    
}
#projects{
    
}
#skills{
    
    
    height: 90vh;
    
}
#contacme{
    background: #fc00ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #B2D1F4, #F8B5F5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #B2D1F4,#F8B5F5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 30vh;
    
}
#logo{
    padding: 0;
    width:20%;
}
#link-pink{
    color:#62FFE2;
}
.navbar{
    background-color: #212026;
    /* position: fixed; */
    width: 100%;
}
.p-about{
    font-size: 1.5rem;
}

.border-project{
    border: 1px solid #62FFE2;
    margin: 3%;
}
.links-projects:hover{
    color: #55E8BE;
    font-size: 1.5rem;
}



