body{
    font-family: 'Kavivanar', cursive;
    margin: 0;
}

 img{
    width: 60%;
    padding: 5%;

 }
 h2{
    color:#62FFE2;
    margin: 0;
 }
ul{
    list-style: none;
}

a{
    color: white;
    
}
a:hover{
    color:#EF51FE;
    text-decoration: none;
}
#link-pink:hover{
    color:#EF51FE;
}


#home {
    background-color: #212026;
    color:#62FFE2;
    height: 90vh;
}
/* #home2{
    background-color: rgba(55, 58, 55, 0.5);
    height: 90vh;
} */
#aboutme{
    background-color:#212026;
    color:rgb(240, 233, 236);
    height: 90vh;
    
}
#projects{
    background-color:#212026;
    color:rgb(240, 233, 236);
}
#skills{
    background-color:#212026;
    color:rgb(219, 62, 141);
    height: 90vh;
    
}
#contacme{
    background-color:#212026;
    height: 70vh;
    
}
#logo{
    padding: 0;
    width:20%;
}
#link-pink{
    color:#62FFE2;
}
.p-about{
    font-size: 1.5rem;
}

.border-project{
    border: 1px solid #62FFE2;
    margin: 3%;
}
.links-projects:hover{
    color: #55E8BE;
    font-size: 1.5rem;
}
.links-contact{
    display: block;
}


